<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码页面</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.1/build/pure-min.css" integrity="sha384-CCTZv2q9I9m3UOxRLaJneXrrqKwUNOzZ6NGEUMwHtShDJ+nCoiXJCAgi05KfkLGY" crossorigin="anonymous">
</head>
<body>
<div class="center">
        <h1 class="center_left">修改 Password</h1><span></span>
        <form class="pure-form pure-form-aligned" action="/update_user_password" method="post">
            <fieldset>
                <div class="pure-control-group">
                    <input hidden="hidden" name="id" value="{{ user.id }}">
                </div>

                <div class="pure-control-group">
                    <input name="password" type="text" placeholder="password">
                </div>

                <div class="pure-controls center_right">
                    <button type="submit" class="pure-button pure-button-primary">提交修改</button>
                </div>
            </fieldset>
        </form>
    </div>

</body>
<style>
    .center_left {
        position: relative;
        right: 10px;
    }
    .center_right{
        position: relative;
        right: 120px;
    }
    .center {
        position: absolute;
        left: 50%;
        top:40%;
        transform: translate(-50%,-50%);
    }
    </style>
</html>
